# Dependencies
node_modules

# Build output
dist
release

# Electron-builder output
*.dmg
*.AppImage
*.exe
*.zip
*.deb
*.rpm
*.blockmap
latest-*.yml

# Logs & misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
