@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: #f3f4f6; /* gray-100 */
  color: #111827;      /* gray-900 */
  font-family: system-ui, sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  background: #f3f4f6;
}
