name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build App
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          AUTO_UPDATE_TOKEN: ${{ secrets.AUTO_UPDATE_TOKEN }}
        run: |
          if [ "$RUNNER_OS" = "macOS" ]; then
            npm run desktop-build-mac
          elif [ "$RUNNER_OS" = "Windows" ]; then
            npm run desktop-build-win-all
          else
            npm run desktop-build-linux-all
          fi

      - name: Upload artifacts
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: release/**
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
