name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm install

      # macOS BUILD
      - name: Build macOS
        if: matrix.os == 'macos-latest'
        run: npm run desktop-build-mac

      # Windows BUILD
      - name: Build Windows
        if: matrix.os == 'windows-latest'
        run: npm run desktop-build-win-all

      # Linux BUILD
      - name: Build Linux
        if: matrix.os == 'ubuntu-latest'
        run: npm run desktop-build-linux-all

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            release/*.zip
            release/*.dmg
            release/*.AppImage
            release/*.deb
            release/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
