name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-latest
            build_cmd: npm run desktop-build-mac

          - os: windows-latest
            build_cmd: npm run desktop-build-win-all

          - os: ubuntu-latest
            build_cmd: npm run desktop-build-linux-all

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install Dependencies
        run: npm install

      - name: Set GH_TOKEN
        run: echo "GH_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Build Electron App
        run: ${{ matrix.build_cmd }}

      - name: Upload Artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: release/**
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
